*~
*.sw[mnpcod]
*.log
*.lock
log.txt
*.sublime-project
*.sublime-workspace
*.prepros-6.config
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
node_modules/
tmp/
temp/
hooks/
www/lib/
platforms/
plugins/
plugins/android.json
plugins/ios.json

*.DS_Store
Thumbs.db
.env

.package.tmp.json

*.apk
*.keystore
